<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>authors:</strong>
  <%= @article.user.user %>
</p>
<%= link_to 'Back', articles_path %>
