// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// i will clean it, but later :)

.category{
  border-radius: 10px;
  text-align: left;
}
.show-bfr-btn-pad{
  margin-top: 0.8em;
}
.nodec{
  text-decoration: none;
  color: black;
}
.quill_container{
  height: 375px;
}
a:hover{
text-decoration: none !important;
}
.feed_item{
  width: auto;
  max-width: 740px !important;
  background-color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.comment_item{
  width: auto;
  max-width: 740px !important;
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.comment_add{
  width: auto;
  max-width: 740px !important;
  margin-bottom: 10px;
  padding-left: 10px;
}
.article{
  font-size: 1.2em;
}
.created_at{
  font-family: 'Roboto',Tahoma;
  font-size: 0.7em;
  color: rgb(144, 144, 144);
  padding-top: 10px;
  padding-left: 1.4em;
}
.description{
  font-family: 'Roboto',Tahoma;
  font-size: 0.9em;
}
.show-padding{
  padding-left: 1em;
}
.title{
  margin-top: 4px;
}
body{
  background-color: rgb(234 , 234, 234)	;
}
.users-navbar{
  text-align: right;
  margin-right: 1.5em;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
&:hover{
  color: #fff;
  }
}
.footer{
  display: inline-block;
}
.like{
  display: inline-block;
  text-align: right;
}
.votes{
  display: inline-block;
  padding-left: 20px;
  text-align: right;
}
.dislike{
  display: inline-block;
  text-align: right;
}
.total-likes{
  font-size: 2em;
  display: inline-block;
}
.pagination a, .pagination span.current, .pagination span.gap {
    width: auto;
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}
.width_pagination{
  max-width: 740px !important;
}
.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
