// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.container{
  text-decoration: none;
}
.feed_item {
  width: 800px;
  background-color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.comment_item{
  width: 800px;
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 15px;
}
.comment_add{
  width: 800px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.article{
  font-size: 1.2em;
}
.show-padding{
  padding-left: 1em;
}
.title{
  padding-top: 10px;
}
body{
  padding-top: 80px;
  background-color: rgb(234 , 234, 234)	;
}
.users-navbar{
  text-align: right;
  margin-right: 1.5em;
  padding-top: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
&:hover{
  color: #fff;
  text-decoration: none;
  }
}
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
&:hover{
  color: #fff;
  text-decoration: none;
  }
}
.footer{
  display: inline-block;
}
.like{
  display: inline-block;
  text-align: right;
}
.votes{
  display: inline-block;
  padding-left: 20px;
  text-align: right;
}
.dislike{
  display: inline-block;
  text-align: right;
}
.total-likes{
  font-size: 2em;
  display: inline-block;
}
.navbar{
  padding-left: 1em;
}
.navbar-text{
 padding-left: 2em;
}
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
